/* google fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", serif;
    box-sizing: border-box;
}


.item {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
}



.card {
    border: 2px solid black;
    width: 280px;
    border-radius: 5px;
    padding: 10px;
    box-shadow:0px 0px 5px black;

}

.card img {
    background-size: contain;
    width: 100%;
    border-radius: 5px;
    z-index: 10px;
}

.card h2{
    /* margin-bottom: 10px; */
}

.card p {
    margin-bottom: 10px;
    font-size: 12px;
}

.btn {
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.btn button {
    cursor: pointer;
    border: none;
    background-color: #fff;
    transition: box-shadow 0.5s ease-in-out;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    /* box-shadow: 0px 1px 4px 2px black; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(110, 225, 219, 1);
    font-size: 12px;
}
.btn button:hover {
    border-radius: 5px;
    box-shadow: 0px 1px 4px 2px black;
    z-index: 10px;
}