body {
    padding: 0;
    margin: 0;
    background-color: #1a1a1a;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
.card  {
    width: 650px;
    border: 2px solid white;
    border-radius: 5px;
    box-shadow: white 0px 0px 10px;
    

}
h2 {
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    padding-bottom:20px;
}
form {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#email {
    width: 90%;
    margin-top: 10px;
    font-size: 1rem;
    margin-left: 10px;
    border-radius: 5px;
}
#password {
    font-size: 1rem;
    width: 90%;
    margin-top: 20px;
    margin-left: 10px;
    border-radius: 5px;
}
div {
    width: 70%;
    margin-top: 10px;
}

div > input {
    font-size: 1rem;
    margin-left: 10px;
    border-radius: 5px;
    margin-top: 10px;
}

button {
    color: #fff;
    background-color:#1a1a1a;
    margin-top: 20px;
    padding: 7px;
    border-radius: 5px;
}

button:hover{
    background-color: #fff;
    color: #1a1a1a;
}
